@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype"),
    url(../fonts/Roboto/Roboto-Regular.woff) format("woff"),
    url(../fonts/Roboto/Roboto-Regular.eot) format("eot");
    font-weight: normal;
    font-style: normal;
}
html {
    overflow-x: hidden;
    background-color: #212529;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, 'Courier New', Courier, monospace;
    box-sizing: border-box;
    overflow-x: hidden;
    background: url(../images/bg3.jpg) no-repeat fixed center center;
    /* background: url(../images/bg5.jpg); */
    background-size:cover;
}

/***********Default setting************/

a:link,
a:hover,
a:active {
    text-decoration: none;
    outline: 0 !important;
}
hr {
    height: 2px !important;
    opacity: 0.7;
    color: rgba(255, 255, 255, 0.336);
}
.btn:hover {
    color: #63a4c9;
    background-color: black;
}

/***********Navbar Setting************/

.navbar {
    font-size: 1.1rem;
}
.navbar-brand {
    padding: 5px 8px;
    border: 3px solid #c3c1c3;
    border-radius: 20px;
    letter-spacing: 5px;
    transition: all 0.9s ease;
}
.navbar-brand:hover{
    color: #63a4c9 !important;
    border-color: #63a4c9;
    border-radius: 0px;
}
.nav-link {
    transition: all 0.7s ease !important;
    box-sizing: border-box;
    font-size: 1.1rem;
}
.nav-link:hover {
    color: #63a4c9 !important;
}
.icon-menu-projects {
    width: 1.3rem;
    height: 1.3rem;
}

/***********Home Setting************/

.gif-home {
    width: 11rem;
    height: 6rem;
    margin-top: 2rem;
}

/***********All Projects Setting************/
.badge-icon {
    width: 1rem;
    height: 1rem;
}
.badge-container {
    display: block;
    margin:auto;
    width: fit-content;
    transition: all 0.5s ease;
    position: relative;
    top: 0%;
    z-index: 3;
}

.icon-projects {
    width: 7rem;
    height: 5.3rem;
    margin: auto;
}

.projects-items {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto ;
    padding: 10px 10px;
}
.img-middle-div {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid rgba(245, 245, 245, 0.137);
    transition: all 0.8s ease;
    cursor: pointer;
}
.img-projects-present {
    width: 15rem;
    height: 15rem;
    transition: all 0.5s ease;
}
.middle {
    width: 15rem;
    height: 4rem;
    padding: 10px 0px;
    transition: all 0.5s ease;
    position: absolute;
    top: 84.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(45, 45, 45, 0.69);

}
.middle h5 {
    color: #63a4c9;
    font-size: large;
}

.img-middle-div:hover{
    border-radius: 5px;
    border-color: rgba(245, 245, 245, 0.493);
    

}
.img-middle-div:hover .img-projects-present{
    border-radius: 5px;
    filter: blur(3px) grayscale(80%);

}
.img-middle-div:hover .badge-container {
    transform: scale(2.0,2.0);
    top: 20%;
}
.img-middle-div:hover .middle {
    top: 50%;
    background-color: rgba(45, 45, 45, 0.884);

}

/***********About Setting************/

.profile-pic {
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    border: 3px solid;
}
.icon {
    padding-bottom: 20px;
}
.skills-icon {
    width: 1rem;
    height: 1rem;
    margin: 0px 5px 0px 0px;
}
.badge {
    margin-bottom: 1px;
}

/***********Footer Setting************/

.gif-contact{
    width: 7rem;
    height: 5rem;
    margin-left: 1rem;
}
.contact-icon {
    font-size: 1.2rem !important;
    padding: 10px 10px;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 10px;

}
.social-icons {
    color: whitesmoke;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    box-sizing: border-box;

}
.social-icons:hover {
    color: #63a4c9;
    transform: scale(1.2,1.2);
}
.list-unstyled{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-quick-link {
    border: 1px solid transparent;
    border-bottom: 2px solid whitesmoke;
    padding: 10px 0px;
    transition: all 0.5s ease;
}
.footer-quick-link:hover{
    border-radius: 100%;
    border-bottom: 2px solid #63a4c9;
    color: #63a4c9;
}
.social-btn{
    transition: all 0.8s ease;
}
.social-btn:hover {
    background-color: #000000;
    border-color: transparent;
    border-radius: 100%;
}
.gif-footer {
    width: 9rem;
    height: 6rem;
}

/***********Projects Detail Setting************/

.img-project-main {
    width: 17rem;
    height: auto;
    border-radius: 15px;
    border: 1px solid;
    transition: all 0.5s ease;
    cursor: pointer;
}

.img-fluid-custom {
    width: 100%;
    height: auto;
    overflow-x: auto;
}

object {
    width: 100%;
    border-radius: 15px;
    height: 50rem;
}

.img-drawing {
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
    border: 1px solid;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.img-drawing:hover {
    opacity: 0.8;
    border-radius: 0;
}

.modal-content span {
    font-size: 11px;
    text-transform: uppercase;
    color: whitesmoke;
}

.gif-container {
    margin-top: -3rem;
}

.img-project-indiv {
    width: 20rem;
    height: 12rem;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 20px 0px;
}
.img-project-indiv:hover{
    transform: scale(1.3,1.3);
}
.p-project-indiv{
    letter-spacing: 1px;
    line-height: 2rem;
    font-size: 1.2rem;
}
.link-project-indiv {
    color: #63a4c9;
    padding: 0px 10px;
}

.back-button {
    padding: 15px 0px 0px 0px;
    color: #63a4c9;
}
.project-video{
    width: 20rem;
    height: 12rem;
    border-radius: 10px;
}

/***********Contact Setting************/

.contact-links {
    color: #63a4c9;
    transition: all 0.5s ease;
}

/***********Media Queries************/

@media all and (max-width: 375px) {}
@media all and (min-width: 376px) and (max-width: 575px) {}
@media all and (min-width: 576px) and (max-width: 767px) {}
@media all and (min-width: 768px) and (max-width: 991px) {}
@media all and (min-width: 992px) and (max-width: 1199px) {}
@media all and (min-width: 1200px) {}
